faster-whisper==1.0.3
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121; platform_system == "Windows"
torchaudio==2.5.1+cu121; platform_system == "Windows"
torch==2.5.1; platform_system != "Windows"
torchaudio==2.5.1; platform_system != "Windows"
ffmpeg-python==0.2.0
requests==2.32.3
